@font-face {
  font-family: 'cyberpunk';
  src: url('./assets/fonts/Cyberpunk.ttf') format('truetype'), url('./assets/fonts/Cyberpunk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  overflow-x: hidden;
  margin: 0;
}
